@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 1020px; 
	background: url(../images/background.jpg) no-repeat top left;
	background: url(../images/bg.png) repeat top left;

	background-attachment:fixed;
//	background-size:100% 100%;

}

#top{
	top: 0px; 
	left: 0px; 
	position: fixed;
/*	z-index:1;
*/	height: 150px;
	width: 100%;
	border:0px solid #000;
}


.bar{
	float:left;
	top: 0px; 
	position: relative;
	height: 12 px;
//	background-color: #585858;
	border:0px solid #f00;
}

#title{
	float:left;
	top: 0px; 
	position: relative;
/*	z-index:1;
*/	height: 200px;
	width: 1000px;
	border:0px solid #000;
	margin-left:auto;
	margin-right:auto;
}

#logo_holder{

	position: relative;	
	float:left;
	top: -120px;
	height: 132px;
	width: 290px;
	border:0px solid #000;
}

#logo{
/*	
	position: absolute;
*/
	position: relative;	
	float:left;
	height: 120px;
	width: 290px;
	border:0px solid #000;
	background: url(../images/logo.png)  no-repeat bottom left;
}

#logo_bar{
/*	
	position: absolute;
*/
	position: relative;	
	float:left;
//	left: 2px;
	height: 12px;
	width: 286px;
	width: 100%;
	border:0px solid #000;

}

.title_bar{
	top: 0 px;
	position: relative;
	float:left;
	height: 12 px;
	border:0px solid #000;
//	background-color: #585858;
}


#menu{
	position: relative;
	left: 90px;
	top: 20px;
	float:left;
	height: 50px;
	width: 500px;
	border:0px solid #000;
	opacity : 0;
//	background: url(../images/menu.png)  no-repeat top left;
}

.menu{
	float:left;
	position: relative;
	left: 0px;
	top: 0px;
	height: 40px;
	width: 125px;
	border:0px solid #000;
	
	text-align:center;
	font-size:24px;
	color: #666;
	text-transform: uppercase;
	text-shadow: 0px -2px 0px #fff;

	letter-spacing: 1px;	
}

.lines{
	position: relative;
	left: 1px;
	top: 0px;
	float:left;
	height: 1px;
	width: 1px;
	border:0px solid #000;
}


/*------------------------------------------------------------------------------------------------------*/

#middle{
	position: fixed;
	top: 180px; 
	left: 0px; 
	z-index:1;
	height: 450px;
	width: 100%;
	min-width: 1020 px;
	border:0px solid #000;
	margin-left:auto;
	margin-right:auto;
}

#popup_holder{
	left: 400px;
	top: 400px;
	position: relative;
	z-index:10;
	height: 56px;
	width: 56px;
	border:0px solid #000;
	
/*	display:table-cell;
	vertical-align:middle;
*/
}

#popup{
//	background-color: #585858;
	height: 56px;
	width: 56px;
	
	position: relative;
	border:0px solid #000;
	border-radius: 3px;
/*	
	display:table-cell;
	vertical-align:middle;
*/	
}

#focus_holder{
	left: 200px;
	top: 200px;
	float:left;
	position: relative;
	z-index:10;
	height: 56px;
	width: 56px;
	border:0px solid #000;
/*	display:table-cell;
	vertical-align:middle;
*/
}

#focus{
	height: 56px;
	width: 56px;
	position: relative;
	border:0px solid #000;
	border-radius: 3px;
	
	font-size:9px;
	letter-spacing: 1px;
	color: white;
	line-height: 120%;
	padding-left: 4px;
	padding-right: 4px;

	line-height: 130%;
	display:table-cell;
	vertical-align:middle;
	text-align:right;
}


#car{
//	top: 50px; 
	position: relative;
	z-index:1;
	height: 400px;
	width: 1000px;
/*	background: url(../images/carbg.png)  no-repeat top left;
*/	border:0px solid #000;
	margin-left:auto;
	margin-right:auto;
	font-size:10px;
	color: white;
}

/*-----------------------------------------------------------*/

#msgbox{
	float:left;
	opacity: 0;
	position: relative;
	z-index:20;
	left: 0px;
	top: 100 px;
	height: 336px;
	width: 196px;
	border:0px solid #000;
	border-radius: 5px;

}

#msgbox_title{
//	font-family: 'Offside', cursive;
//	text-transform: uppercase;
	position:relative;
	background: url(../images/msgbox_title_bg.png) no-repeat top left;

	position: relative;
	top: 0 px;
	left: 0px;
	height: 40px;
	width: 100%;
	background: #999 0.5;
	border:0px solid #000;
//	border-radius: 3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	text-align:center;
	padding-top: 8px;
	font-size:18px;
	color: white;
	text-shadow: 0px 2px 0px #333;
	letter-spacing: 1px;
}


#msgbox_noise{
	font-family: 'Fauna One', serif;
	position: relative;
	height: 36px;
	width: 180px;
	border:0px solid #000;

	font-size:14px;
	line-height: 130%;
	padding-top: 12px;

	color: #eee;
	padding-left: 10px;
	padding-right: 10px;
}


#msgbox_details{
	position: relative;
	height: 202px;
	width: 176px;
	border:0px solid #000;

	font-size:12px;
	line-height: 130%;
//	padding-top: 12px;
	color: #eee;
	
	padding-left: 10px;
	padding-right: 10px;
}


#msgbox_close{
//	background-color: #585858;
//	background-color: rgba(0,0,0,0.5);
	position:relative;
	height: 20px;
	width: 176px;
/*	background: url(../images/carbg.png)  no-repeat top left;
//	margin-top:294 px;
	border:1px solid #000;
*/	
	text-align:center;
	font-size:12px;
	color: rgba(0,0,0,0.3);
	border-radius: 5px;
	padding-top: 7px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid rgba(0,0,0,0.1);

}

span {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	line-height: 210%;

}